{% extends "layout.html" %}
{% block body %}

<div class="col-sm-12 my-auto">
    <div class="card card-block w-25 mx-auto">        
        <h1 class="pb-4">Reset Password</h1>
        <form autocomplete="off" method=POST action="{{ url_for('index.index') }}">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <button type="submit" class="mt-4 btn btn-primary btn-block">Reset password</button>
        </form>
    </div>
</div>

<footer class="fixed-bottom text-center">
    <a href="{{ url_for('index.register') }}">Create an Account</a>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('index.index') }}">Log in to Practical</a>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
    <a href="#">What is PractiCal?</a>
</footer>
{% endblock %}

